/target/
/docs/node_modules/
/docs/.vitepress/cache/
/docs/.vitepress/dist/
/cpp/**/build/
/recordings/*.rrd
.venv-planning/
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
sdk/**/build/
sdk/**/target/
sdk/python/*.egg-info/
.veicrun.json
